// light/dark mode
@use 'mode/light';
@use 'mode/dark';

// utils
@use 'utils/normalize';
@use 'utils/transitions';

// layouts
@use 'layouts/base';
@use 'layouts/home';
@use 'layouts/links';
@use 'layouts/page';
@use 'layouts/post';
@use 'layouts/tags';

// components
@use 'components/arrow';
@use 'components/badge';
@use 'components/catalog';
@use 'components/code';
@use 'components/code-group';
@use 'components/custom-container';
@use 'components/navbar-dropdown';
@use 'components/header';
@use 'components/menu';
@use 'components/navbar';
@use 'components/pager';
@use 'components/postlist';
@use 'components/sidebar';
@use 'components/sr-only';
@use 'components/toc';
@use 'components/search';

// plugins
@use 'plugins/giscus';
@use 'plugins/md-plus';

@use '@vuepress/plugin-palette/style';
