@import '_variables';

.not-found-wrapper {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -180px;
  padding: 0 1rem;

  a, h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .emoji {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  a {
    color: var(--c-text);
    &:hover {
      color: var(--c-text-accent);
    }
  }
}

@media (max-width: $MQMobileNarrow) {
  .not-found-wrapper {
    a, h1 {
      font-size: 25px;
    }

    .emoji {
      font-size: 45px;
    }
  }
}
