.post-wrapper {

  .theme-gungnir-content {
    h1 {
      font-size: 50px
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 21px;
    }

    h5 {
      font-size: 19px;
      color: var(--c-text-sub);
    }

    h6 {
      font-size: 16px;
      color: var(--c-text-sub);
    }
  }
}
