@import '_mixins';

.tag {
  vertical-align: middle;
  display: inline-block;
  margin: 0 8px 8px 0;
  padding: 0 10px 0 12px;
  border-radius: 999em;
  cursor: pointer;
  text-decoration: none;
  background: white;
  color: white;
  font-size: 14px;
  border: none;
  line-height: 28px;

  &:not(.page-tag) {
    @include transition(all .5s ease);
  }

  > sup {
    margin-top: -5px;
    font-weight: 700;
    display: inline-block;
  }

  &.active, &.focus {
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 6px, rgba(0, 0, 0, .239216) 0 1px 4px;
  }

  &:hover:not(.tag-all),
  &.active:not(.tag-all),
  &.focus:not(.tag-all) {
    background-color: var(--brand-color);
  }
}

.tag-all {
  font-weight: 700;
  color: var(--brand-color) !important;
  background-color: #f3f5f5 !important;

  &:hover,
  &:active,
  &.focus {
    background-color: #e4e4e4 !important;
  }
}
