@import '_variables';

:root {
  // brand colors
  --c-brand: #{$brandColor};

  // background colors
  --c-bg: #{$bgColor};
  --c-bg-light: #{$bgColorLight};
  --c-bg-lighter: #{$bgColorLighter};
  --c-bg-transparent: #{$bgColorTransparent};
  --c-bg-navbar: var(--c-bg-transparent);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: #{$textColor};
  --c-text-accent: var(--c-brand);
  --c-text-sub: #{$textColorSub};

  // border colors
  --c-border: #{$borderColor};
  --c-border-sub: #{$borderColorSub};

  // custom container colors
  --c-info: #{$infoColor};
  --c-tip: #{$tipColor};
  --c-tip-title: #{$tipTitleColor};
  --c-warning: #{$warningColor};
  --c-warning-title: #{$warningTitleColor};
  --c-danger: #{$dangerColor};
  --c-danger-title: #{$dangerTitleColor};

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // transition vars
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;

  // code blocks vars
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;

  // image masks
  --image-mask-color: transparent;

  // shadows
  --box-shadow: #{$boxShadow};

  // font vars
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 800px;
  --homepage-width: 1126px;
}

// plugin-medium-zoom
.medium-zoom-overlay {
  --medium-zoom-bg-color: var(--c-bg);
}

// plugin-nprogress
#nprogress {
  --nprogress-color: var(--c-brand);
}

// plugin-search
.search-box {
  --search-bg-color: var(--c-bg);
  --search-accent-color: var(--c-brand);
  --search-text-color: var(--c-text);
  --search-border-color: var(--c-border);

  --search-item-text-color: var(--c-text-sub);
  --search-item-focus-bg-color: var(--c-bg-light);
}
