@import '_variables';

html.dark {
  // brand colors
  --c-brand: #{$brandColorDark};

  // background colors
  --c-bg: #{$bgColorDark};
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;
  --c-bg-transparent: #{$bgColorTransparentDark};

  // text colors
  --c-text: #{$textColorDark};
  --c-text-sub: #{$textColorSubDark};

  // border colors
  --c-border: #{$borderColorDark};
  --c-border-sub: #{$borderColorSubDark};

  // custom container colors
  --c-tip: #318a62;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #940000;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #363b46;

  // image masks
  --image-mask-color: #{$darkColor3};

  // shadows
  --box-shadow: #{$boxShadowDark};
}
