@import "../_variables";
@import "../_mixins";

.custom-container {
  transition: color var(--t-color), border-color var(--t-color),
    background-color var(--t-color);

  .custom-container-title {
    font-weight: 600;
    &:not(:only-child) {
      margin-bottom: -0.4rem;
    }
  }

  &.info,
  &.tip,
  &.warning,
  &.danger {
    position: relative;
    padding: 0.1rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin: 1rem 0;
    background-color: var(--c-bg-lighter);

    & > svg {
      position: absolute;
      height: 22px;
      width: 22px;
      margin-left: -2.55rem;
      top: 0;
      margin-top: 1.6rem;
      border: 2px solid var(--c-bg);
      border-radius: 50%;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      margin-left: -2.45rem;
      top: 0;
      margin-top: 1.7rem;
      background: var(--c-bg);
    }
  }

  &.info {
    border-color: var(--c-info);
  }

  &.tip {
    border-color: var(--c-tip);

    .custom-container-title {
      color: var(--c-tip-title);
    }
  }

  &.warning {
    border-color: var(--c-warning);

    .custom-container-title {
      color: var(--c-warning-title);
    }
  }

  &.danger {
    border-color: var(--c-danger);

    .custom-container-title {
      color: var(--c-danger-title);
    }
  }

  &.details {
    display: block;
    position: relative;
    border-radius: 2px;
    margin: 1.6em 0;
    padding: 1.6em;
    background-color: var(--c-bg-lighter);

    h4 {
      margin-top: 0;
    }

    figure,
    p {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    summary {
      outline: none;
      cursor: pointer;
    }
  }

  // linkcard

  &.link {
    position: relative;
    width: 36%;
    margin: 10px 4px; 
    border: 1px solid var(--c-border);
    border-radius: 10px;
    padding: 13px 30px 13px 20px;
    overflow: hidden;
    @include transition(all ease 0.3s);
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
    .custom-container-title {
      color: var(--c-text-accent);
      padding: 8px 0;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
    }
    p {
      color: var(--c-text-sub);
      font-size: 13px;
      margin: 10px 0;
      padding: 10px 0;
      border-top: 1px dashed #ddd;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      overflow: hidden;
      line-height: 15px;
    }
    svg,img {
      padding: 2px;
      border-radius: 100%;
      max-width: 100%;
      float: right;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      box-shadow: inset 0 0 10px var(--c-text);
      margin-top: 16px;
      margin-right: -15px;
      width: 2em;
      height: 2em;
    }
    &:hover {
      border: 1px solid transparent;
      box-shadow: var(--box-shadow-hover);
      @include transform(translate(0px, -3px));
    }
  }
}
