@import "../_variables";
@import "../_mixins";

.postlist-wrapper {
  margin: 20px auto 0;
  max-width: var(--homepage-width);
}

.post-item {
  position: relative;
  margin: 80px auto 100px;
  padding: 0 40px;

  &__img {
    display: inline-block;
    width: 600px;
    height: 340px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition(all 0.6s);
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: var(--image-mask-color);
    }

    &:hover img {
      @include transform(scale(1.1));
    }
  }

  &:nth-child(odd) {
    text-align: left;

    .else {
      left: 620px;
    }
  }

  &:nth-child(even) {
    text-align: right;

    .else {
      right: 620px;
    }
  }

  .else {
    position: absolute;
    text-align: left;
    top: 20px;
    height: 360px;
    width: 490px;
    border: 1px solid var(--c-border);
    border-radius: 5px;
    overflow-y: hidden;
  }

  &__date {
    color: var(--c-text-sub);
    font-size: 12px;
    margin: 80px 0 0 80px;
  }

  &__title {
    color: var(--c-text);

    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--c-text-accent);
    }

    h2 {
      font-size: 30px;
      font-weight: normal;
      line-height: 1.1;
      margin: 10px 100px 0 80px;
    }

    h3 {
      font-size: 16px;
      font-weight: normal;
      margin: 10px 100px 0 80px;
      line-height: 1.8;
    }
  }

  &__content p {
    line-height: 1.8;
    font-size: 14px;
    margin: 10px 100px 0 80px;
  }
}

@media (max-width: $MQLarge) {
  .post-item {
    &__img {
      width: 480px;
      height: 280px;
    }

    &:nth-child(odd) .else {
      left: 500px;
    }

    &:nth-child(even) .else {
      right: 500px;
    }

    .else {
      top: 10px;
      width: 420px;
      height: 290px;
    }

    &__date {
      font-size: 12px;
      margin: 50px 0 0 60px;
    }

    &__title {
      h2 {
        font-size: 24px;
        margin: 10px 60px 0 60px;
      }

      h3 {
        margin: 10px 60px 0 60px;
      }
    }

    &__content p {
      margin: 10px 60px 0 60px;
    }
  }
}

@media (max-width: $MQIpad) {
  .postlist-wrapper {
    padding: 0 13px 20px;
  }

  .post-item {
    margin: 50px auto 70px;
    padding: 0 0 30px;
    border-bottom: 1px solid var(--c-border);

    &__img {
      display: block;
      margin: 0 auto;
      width: 570px;
      height: 320px;
      border-radius: 10px;
    }

    .else {
      height: auto;
      position: static;
      width: 100%;
      margin: 0 auto;
      background: transparent;
      border: none;
    }

    &__date {
      margin: 30px 0 0 20px;
    }

    &__title h2 {
      font-size: 24px;
      margin: 10px 20px 0 20px;
    }

    &__title h3,
    &__content p {
      margin: 10px 20px 0 20px;
    }
  }
}

@media (max-width: $MQMobile) {
  .post-item {
    margin: 40px auto 0;
    border-bottom: none;
    max-width: 400px;

    &__img {
      width: 100%;
      height: 210px;
    }

    &__date,
    &__title h2,
    &__title h3,
    &__content p {
      margin-left: 5px;
    }
  }
}
