.post-item-img {
    margin: 80px auto 100px;
    position: relative;
    padding: 0 40px;
    display: block;
    &__img {
        display: inline-block;
        width: 600px;
        height: 340px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        img {
            display: block;
            height: 100%;
            transition(all .6s);
            &:hover {
                transform(scale(1.1));
            }
        }
    }
    &:nth-child(odd) {
        text-align: left;
        .else {
            left: 620px;
        }
    }
    &:nth-child(even) {
        text-align: right;
        .else {
            right: 620px;
        }
    }
    .else {
        position: absolute;
        text-align: left;
        top: 20px;
        height: 360px;
        width: 490px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        overflow-y: hidden;
    }
    &__date {
        color: var(--text-color-sub);
        font-size: 12px;
        margin: 80px 0 0 80px;
    }
    &__title {
        color: var(--text-color);
        &:hover, &:focus {
            text-decoration: none;
            color: var(--accent-color);
        }
        h2 {
            font-size: 30px;
            font-weight: normal;
            line-height: 1.1;
            margin: 10px 100px 0 80px;
        }
        h3 {
            font-size: 16px;
            font-weight: normal;
            margin: 10px 100px 0 80px;
            line-height: 1.8;
        }
    }
    &__content p {
        line-height: 1.8;
        font-size: 14px;
        margin: 10px 100px 0 80px;
    }

    @media (max-width: $MQLarge) {
        &__img {
            width: 480px;
            height: 280px;
        }
        &:nth-child(odd) .else {
            left: 500px;
        }
        &:nth-child(even) .else {
            right: 500px;
        }
        .else {
            top: 10px;
            width: 420px;
            height: 290px;
        }
        &__date {
            font-size: 12px;
            margin: 50px 0 0 60px;
        }
        &__title h2 {
            font-size: 24px;
            margin: 10px 60px 0 60px;
        }
        &__title h3 {
            margin: 10px 60px 0 60px;
        }
        &__content p {
            margin: 10px 60px 0 60px;
        }
    }
    @media (max-width: $MQIpad) {
        padding: 0;
        margin-top: 80px;
        background: var(--bg-color);
        padding-bottom: 30px;
        border-bottom: 1px solid var(--border-color);
        &__img {
            display: block;
            margin: 0 auto;
            margin-top: -30px;
            width: 570px;
            height: 320px;
            border-radius: 10px;
        }
        .else {
            height: auto;
            position: static;
            width: 100%;
            margin: 0 auto;
            background: transparent;
            border: none;
        }
        &__date {
            margin: 30px 0 0 20px;
        }
        &__title h2 {
            font-size: 24px;
            margin: 10px 20px 0 20px;
        }
        &__title h3, &__content p {
            margin: 10px 20px 0 20px;
        }
    }
    @media (max-width: $MQMobileNarrow) {
        margin-top: 100px;
        border-bottom: none;
        max-width: 400px;
        &__img {
            width: 100%;
            height: 210px;
            margin-top: -60px;
        }
        &__date, &__title h2, &__title h3, &__content p {
            margin-left: 5px;
        }
    }
}

.post-item {
    > a {
        color: var(--text-color);
        &:hover, &:focus {
            text-decoration: none;
            color: var(--accent-color);
        }
    }
    &__title {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &__subtitle {
        font-size: 16px;
        line-height: 1.3;
        margin: 0;
        font-weight: 300;
        margin-bottom: 10px;
    }
    &__meta {
        serif();
        color: $gray;
        font-size: 18px;
        margin-top: 0;
        > a {
            text-decoration: none;
            color: var(--text-color);
            &:hover,
            &:focus {
                color: var(--accent-color);
                text-decoration: underline;
            }
        }
    }
    // @include mobile {
    //     > a {
    //         > .post-title {
    //             font-size: 21px;
    //             margin-bottom: 8px;
    //         }
    //         > .post-subtitle {
    //             font-size: 15px;
    //         }
    //     }
    //     .post-meta {
    //         font-size: 16px;
    //     }
    // }
}